.display2{
    margin: 5px;
    border: 2px solid lightseagreen;
    width: 385px;
    height: 100px;
    background-color: #fcc;
    border-radius: 5px;
    color: lightseagreen;
}
h3 {
    text-align: left;
    padding-left: 10px;
}

input {
    border-radius: 5px;
    border-color: red;
}